@import url(https://fonts.googleapis.com/css?family=Nunito:200,200italic,300,300italic,regular,italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

:root {
    --blue: #6495ed;
    --white: #fdfdfc;
    --orange: #fd8953;
    --lightorange: #ffb08c;
    --lightgreen: #8fbc8f;
    --green: #5CB88D;
    --darkgrey: rgb(58, 58, 58);
    /* --darkgreen: #6aa66a; */
  }

body {
    background-color:var(--white);
    padding-bottom: 70px;
}
h1 {
    color: var(--green);
    font-family: Nunito;
    font-weight: 800;
    font-size: 70px;
    text-align: center;
    margin-bottom: 0pt;
}

#create_form {
    display: inline-block;
}

.navbarCustom {
    font-family: Nunito;
    font-weight: 700;
    font-size: 20px;
    text-align: left;
    background-color: var(--lightorange);
    margin-bottom: 10pt
}

nav {
    font-family: Nunito;
    color: var(--orange);
    }
    
legend {
font-family: Montserrat;
    color: var(--orange);
    font-style: italic;
    margin-top: -.5em;  
}        
    
label {
    font-family: Montserrat;
    color: var(--green);
}

h2 {
font-family: Nunito;
color: var(--orange);

}
#subtitle {
font-style: italic;
text-align: center;
margin-top: -.5em;
}
li.label {
    color:var(--orange);
    font-family: Montserrat;
}
p {
    font-family: Montserrat;
    color: var(--green);

}
#form {
    font-family: Montserrat;
}
footer {
    font-family: Montserrat;
    color: var(--green);
    text-align: center; 
    font-size: 10pt;
    margin-bottom: .5em;
}
.button {
    background-color: var(--lightorange);
    border-color: var(--orange);
    color: rgb(58, 58, 58);
    font-size: larger;
    padding: 8px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-style: solid;
    border-radius: 1em;
    font-size: 16px;
    font-family: Nunito;
    margin: 1em;
    /* margin-left: 35%; */
}
.comment {
    padding: 15px 32px;
    border-radius: .6em;
    border-color: var(--green);
    border-width: 1em;
    border-style: solid;
}
h3 {
    font-family: Nunito;
    color: rvar(--orange);
}

.menuList {
    /* margin-left: 30%;
    margin-right: 30%; */
    /* margin-bottom: 2em; */
    text-align: center;
    font-family: Nunito;
    font-size:larger;
    border-color: var(--green);
    border-width: .4em;
    border-style: double;
    border-radius: .6em;
    text-transform: uppercase;
    width: max-content;
    inline-size: max-content;
    height: max-content;
    block-size: max-content;
    margin: 0 auto;
    /* padding-top: 2em; */
    /* padding-bottom: 2em; */
}

a:link.menuItem {
    text-decoration: none;
    color: var(--darkgrey);
  }
  
a:visited.menuItem {
    text-decoration:none;
    color: var(--green);
  }
  
a:hover.menuItem  {
    text-decoration: none;
    background-color: var(--lightorange);
  }
  
a:active.menuItem  {
    text-decoration: underline;
  }

.messages {
    background-color: cornsilk;
    font-family: Nunito;
    font-size: large;
    font-weight: 500;
    text-align: center;
}

.reviews {
    padding: 15px 32px;
    border-radius: .6em;
    border-color: var(--green);
    border-width: 2px;
    border-style: solid;
}

.top_rated{
    width:20%;
    float:right;
}

.foodPic{
    color: var(--white);
    width: 25%;
    border-style: solid;
    border-color: var(--darkgrey);
    border-width: 4px;

}

.text-add{
    color: var(--white);
    text-decoration: none;
}

.starRating:not(old){
    display        : inline-block;
    width          : 7.5em;
    height         : 1.5em;
    overflow       : hidden;
    vertical-align : bottom;
  }
.starRating:not(old) > input{
    margin-right : -100%;
    opacity      : 0;
  }
.starRating:not(old) > label{
    display         : block;
    float           : right;
    position        : relative;
    background      : url('https://www.svgrepo.com/show/13693/star.svg');
    background-size : contain;
  }

  .starRating:not(old) > label:before{
    content         : '';
    display         : block;
    width           : 1.5em;
    height          : 1.5em;
    background      : url('https://www.svgrepo.com/show/161450/star-filled-fiveointed-shape.svg');
    background-size : contain;
    opacity         : 0;
    transition      : opacity 0.2s linear;
  }
  .starRating:not(old) > label:hover:before,
  .starRating:not(old) > label:hover ~ label:before,
  .starRating:not(:hover) > :checked ~ label:before{
    opacity : 1;
  }

/* @import url(https://fonts.googleapis.com/css?family=Nunito:200,200italic,300,300italic,regular,italic,600,600italic,700,700italic,800,800italic,900,900italic);

#foodie {
    color: #5CB88D;
    font-family: Nunito;
    font-size : 50pt;
}

#foodieLogo h1 {
    font-style :italic;
}
h2 {
    color: #FFA055;
    /* color: rgb(216, 104, 63); */