@import url(https://fonts.googleapis.com/css?family=Nunito:200,200italic,300,300italic,regular,italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

:root {
    --blue: #6495ed;
    --white: #fdfdfc;
    --orange: #fd8953;
    --lightorange: #ffb08c;
    --lightgreen: #8fbc8f;
    --green: #5CB88D;
    --darkgrey: rgb(58, 58, 58);
    --grey: #676967;
    --lightgrey: #bebebe;
    --star-size: 20px;
    --star-color: #bebebe;
    --star-background: #fddb53;
    --navbarColor: #ffb08c21;
    --pale: #f0f0f0;
    /* --darkgreen: #6aa66a; */
  }

body {
    background-color:var(--white);
    padding-bottom: 70px;
}

.foodBackground{
    background-color:var(--pale);
    border-color: var(--lightgrey);
    border: .01em solid var(--lightgrey);

}
h1 {
    color: var(--green);
    font-family: Nunito;
    font-weight: 800;
    font-size: 70px;
    text-align: center;
    margin-bottom: 0pt;
}

.profile {
    text-align: center;
}

.profile_update {
    margin-left: 2em;
}


.propic{
    text-align: center;
}

.login_button {
    text-align: center;
}

.login_forms{
    text-align: center;
}

fieldset {
    display: block;
    padding: 1em;
    border-width: 2px;
    border-style: groove;
    border-color: threedface;
    border-image: initial;
}

.legend{
    display: block;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    font-family: Montserrat;
    color: var(--orange);
    font-style: italic;
    margin-top: -.5em;
    width: auto;
    float:inherit;
}
.sr-only{
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
 }

.create_forms {
    display: inline-block;
    /* text-align: center; */
}

.navbarCustom {
    font-family: Nunito;
    font-weight: 700;
    font-size: 25px;
    text-align: left;
    /* background-color: var(--navbarColor); */
    margin-bottom: 10pt;
    box-shadow: 0px 0px 5px 0px #bebebe;
    background-color: var(--white);
    
    /* border-bottom: var(--orange); */
    /* -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px var(--orange); */
    /* border-bottom-left-radius: .2em;
    border-bottom-right-radius: .2em; */
}

nav {
    font-family: Nunito;
    color: var(--orange);
    }
    
legend {
font-family: Montserrat;
    color: var(--orange);
    font-style: italic;
    margin-top: -.5em;  
}        
    
label {
    font-family: Montserrat;
    color: var(--grey);
}

h2 {
font-family: Nunito;
color: var(--orange);

}

h4 {
    font-family: Montserrat;
    color: var(--grey);
    
    }
#subtitle {
font-style: italic;
text-align: center;
margin-top: -.5em;
}
li.label {
    color:var(--orange);
    font-family: Montserrat;
}
p {
    font-family: Montserrat;
    color: var(--grey);

}
#form {
    font-family: Montserrat;
}
footer {
    font-family: Montserrat;
    color: var(--grey);
    text-align: center; 
    font-size: 10pt;
    margin-bottom: .5em;
    margin-top: 10em;
}
.button {
    background-color: var(--lightorange);
    border-color: var(--orange);
    color: rgb(58, 58, 58);
    font-size: larger;
    padding: 8px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-style: solid;
    border-radius: 1em;
    font-size: 16px;
    font-family: Nunito;
    margin: 1em;
    /* margin-left: 35%; */
}
.comment {
    padding: 15px 32px;
    font-family: Nunito;
    margin-top: 1em;
    margin-bottom: 2em;
    border-radius: .6em;
    border-width: .1em;
    border-style: solid;
    background-color: #f0f0f0;
}
h3 {
    font-family: Nunito;
    color: var(--orange);
}

.menuList {
    /* margin-left: 30%;
    margin-right: 30%; */
    /* margin-bottom: 2em; */
    -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
    text-align: center;
    font-family: Nunito;
    font-size:larger;
    border-color: var(--green);
    border-width: .4em;
    border-style: double;
    border-radius: .6em;
    text-transform: uppercase;
    width: max-content;
    /* inline-size: max-content; */
    height: max-content;
    /* block-size: max-content; */
    margin: 0 auto;
    /* padding-top: 2em; */
    /* padding-bottom: 2em; */
}

a:link.menuItem {
    text-decoration: none;
    color: var(--darkgrey);
  }
  
a:visited.menuItem {
    text-decoration:none;
    color: var(--green);
  }
  
a:hover.menuItem  {
    text-decoration: none;
    background-color: var(--lightorange);
  }
  
a:active.menuItem  {
    text-decoration: underline;
  }

.messages {
    background-color: #f0f0f0;
    font-family: Nunito;
    font-size: large;
    font-weight: 500;
    text-align: center;
    /* text-align: center;
    margin-bottom: 2em;
    margin-top: 4em;
    margin-left: 10%;
    margin-right: 10%; */
}

.reviews{
    padding: 15px 32px;
    font-family: Nunito;
    margin-top: 1em;
    margin-bottom: 2em;
    border-radius: .6em;
    border-width: .1em;
    border-style: solid;
    border-color: coral;
    width: 60%;
    margin-left: 20%;
    background-color: var(--white);
    -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
}

.reviews a{
    color:#5CB88D;
}

.top-rated{
    font-size:smaller;
    margin-top: 1em;
    margin-bottom: 2em;
    border-radius: .6em;
    border-width:.1em;
    border-style:solid;
    border-color:#5CB88D;
    width:50%;
    margin:auto;
    padding:10px;
    -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
    background-color: var(--white);
}

.top-rated b{
    color:#5CB88D;
}

.foodPic{
    color: var(--white);
    width: 25%;
    border-style: solid;
    border-color: var(--darkgrey);
    border-width: 4px;

}

.text-add{
    color: var(--white);
    text-decoration: none;
}

.starRating:not(old){
    display        :inline-table;
    width          : 7.5em;
    height         : 0em;
    overflow-y      : hidden;
    vertical-align : bottom;
  }
.starRating:not(old) > input{
    margin-right : -100%;
    opacity      : 0;
  }
.starRating:not(old) > label{
    display         : block;
    float           : right;
    position        : relative;
    background      : url('https://www.svgrepo.com/show/13693/star.svg');
    background-size : contain;
  }

  .starRating:not(old) > label:before{
    content         : '';
    display         : block;
    width           : 1.5em;
    height          : 1.5em;
    background      : url('https://www.svgrepo.com/show/161450/star-filled-fiveointed-shape.svg');
    background-size : contain;
    opacity         : 0;
    transition      : opacity 0.2s linear;
  }
  .starRating:not(old) > label:hover:before,
  .starRating:not(old) > label:hover ~ label:before,
  .starRating:not(:hover) > :checked ~ label:before{
    opacity : 1;
  }

.homePage {
    font-family: Nunito;
    color: var(--darkgrey);
    font-size: 20pt;
    /* background-color: #bebebe; */
    background-color: #ffb08c;
    /* border-color: var(--orange);
    box-width: medium; */
    -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
    /* width: 80%; */
    padding: 1em;
    margin-left: 20%;
    margin-right: 20%;
    /* margin-left: 30%; */
    text-align: center;
    margin-bottom: 2em;
    margin-top: 2em;
    /* align-content: center; */
}
.homeButton {
    background-color: var(--white);
    color: var(--darkgrey);
    font-size: larger;
    padding: 6px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-style: solid;
    border-color: #bebebe;
    border-width: .1em;
    border-radius: .5em;
    font-size: 16px;
    font-family: Nunito;
    margin: .5em;
}
.homePage select {
    width:max-content; /*hide original SELECT element: */
    display: inline;
  }

.homePage select,option{
    font-family: Montserrat;
  }



/* div.grow{
    transition: .5s ease;
    } */
    
div.grow :hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: .5s ease;
    }
    

.search {
    /* -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999; */
    
    border-radius: .2em;
}

div.card {
    /* box-shadow: 0 4px 8px 0 var(--lightgreen), 0 6px 20px 0 var(--lightgreen); */
    -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
    text-align: center;
    margin-bottom: 2em;
    margin-top: 4em;
    margin-left: 10%;
    margin-right: 10%;
    padding: 1em;
  }

  div.cardLeft {
    /* box-shadow: 0 4px 8px 0 var(--lightgreen), 0 6px 20px 0 var(--lightgreen); */
    -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
    margin-bottom: 2em;
    margin-top: 4em;
    margin-left: 10%;
    margin-right: 10%;
    padding: 1em;
  }

.hours {
    width: max-content;
    align-content: center;
}

.Stars {
    --percent: calc(var(--rating) / 5 * 100%);
    
    display:inline-block;
    font-size: var(--star-size);
    font-family: Nunito;
    padding: 0;
    margin: 0;
}
.Stars ::before {
      content: '★★★★★';
      letter-spacing: 3px;
      background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  }

.row {
    display: flex;
  }
  
.column {
    flex: 50%;
  }

.menuList th, td {
    border: none;
  }

.addButton {
    /* -webkit-text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23); */
    text-shadow:rgba(0, 0, 0, 0.23);
    margin-top: 1em;
}

.addReview {
    /* -webkit-text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23); */
    text-shadow:rgba(0, 0, 0, 0.23);
    margin-top: 1em;
}

a:link.addReview {
    text-decoration: none;
    color: var(--darkgrey);
  }
  
a:visited.addReview {
    text-decoration:none;
    color: var(--orange);
  }
  
a:hover.addReview {
    text-decoration: none;
    background-color: #f0f0f0;
  }
  
a:active.addReview  {
    text-decoration: underline;
  }

.ratingName{
    font-family: Nunito;
    font-weight: 400;
    color: var(--orange);
}