<!-- # like movie insert  -->
{% extends "base.html" %}

{% block head_stuff %}   
 <title>Create Profile</title>
{% endblock %}
{% block content %}

<h1>Create Profile</h1>

<form id="create_form" method=post action="{{url_for('create')}}"> <!--FIX THIS URL-->
    
    <fieldset class=fieldset>
    <legend>Create Account</legend>
    <table>
    <tr><td><label for="name" accesskey="n">Full Name:</label></td>
        <td><input type="text" name="name" id="name"></td></tr>
    <tr><td><label for="username" accesskey="u">Wellesley Username:</label></td>
        <td><input type="text" name="username" id="username"></td></tr>
    
    <tr>
        <td><label for="year">Class Year</label></td>
        <td><select id="year" name ="year" required> 
            <!-- Numbers correspond to id for dining halls in our database -->
            <option value= ""> select</option>
            <option value= 1> 2021</option>
            <option value= 2> 2022</option>
            <option value= 3> 2023</option>
            <option value= 4> 2024</option>
            <option value= 5> Davis Scholar</option>
        </select></td>
    </tr>

    <tr>
        <td><label for="diningHall">Dining Hall</label></td>
        <td><select id="diningHall" name ="diningHall" required> 
            <!-- Numbers correspond to id for dining halls in our database -->
            <option value= ""> select</option>
            <option value= 1> Bates</option>
            <option value= 2> Lulu</option>
            <option value= 3> Pom</option>
            <option value= 4> Stone-D</option>
            <option value= 5> Tower</option>
        </select></td>
    </tr>

    <tr><td><label for="password" accesskey="p">Password:</label></td>
        <td><input type="text" name="password" id="password"></td></tr>
    </table>
    </fieldset>

    <p> <input class='button' type='submit' value='Create Profile'> </p>

</form>

<form id="login_form" method=post action="{{url_for('login')}}">
    <fieldset class=fieldset>
        <legend>Log In</legend>
        <table>
        <tr><td><label for="username" accesskey="u">Wellesley Username:</label></td>
            <td><input type="text" name="username" id="username"></td></tr>
        <tr><td><label for="password" accesskey="p">Password:</label></td>
            <td><input type="text" name="password" id="password"></td></tr>
        </table>
        </fieldset>

        <p> <input class='button' type='submit' value='Log In'> </p>

</form>

{% endblock %}

