{% extends "base.html" %}
{% block headstuff %}
<style> 
    body {
        background-color: #5cb88d32;
        
    }

    .addfood {
        border: 20px solid white;

    }
</style>   
{% endblock %}

{% block content %}
<h1>Add Food to Database</h1>
<!-- add something to action -->
<div class="d-flex flex-column row addfood card">
    <form method=post action="{{url_for('addfood')}}">
        <h2>Food Information:</h2>
        <div class="d-flex-inline">
            {%if food_name %}
            <p><label for="food-name"><b>Name:</b></label>
                <input type="text" name="food-name" id="food-name" value="{{food_name}}" required>
            </p>
            {%else%}
            <p><label for="food-name"><b>Name:</b></label>
                <input type="text" name="food-name" id="food-name" required>
            </p>
            {%endif%}
            <p><label for="food-type"><b>Food type:</b></label>
                <select id="food-type" name="food-type" required>
                    <option value="" selected disabled hidden>select</option>
                    <option value="breakfast">Breakfast</option>
                    <option value="lunch">Lunch</option>
                    <option value="dinner">Dinner</option>
                    <option value="all day">All-day</option>
                </select>
            </p>
            <p><label for="food-hall"><b>Dining hall:</b></label>
                <select id="food-hall" name="food-hall" required>
                    <option value="" selected disabled hidden>select</option>
                    <option value="1">Bates</option>
                    <option value="2">Lulu</option>
                    <option value="3">Pom</option>
                    <option value="4">Stone-D</option>
                    <option value="5">Tower</option>
                </select>
            </p>
            <p><label for="food-ingredients"><b>Food Ingredients:</b></label>
                <input type="text" name="food-ingredients" id="food-ingredients" required>
            </p>
            <p><b>Food Preferences: </b>
                <input type="checkbox" value="none" id="none" name="preferences">
                <label for="none">none</label>
                <input type="checkbox" value="gluten-sensitive" id="gluten-sensitive" name="preferences">
                <label for="gluten-sensitive">gluten sensitive</label>

                <input type="checkbox" value="vegan" id="vegan" name="preferences">
                <label for="vegan">vegan</label>

                <input type="checkbox" value="vegetarian" id="vegetarian" name="preferences">
                <label for="vegetarian">vegetarian</label>

                <input type="checkbox" value="kosher" id="kosher" name="preferences">
                <label for="kosher">
                    kosher
                </label>
                <input type="checkbox" value="halal" id="halal" name="preferences">
                <label for="halal">halal</label>
            </p>
            <p><b>Allergens:</b>
                <input type="checkbox" value="none" name="allergens" id="allergens">
                <label for="allergens">none</label>

                <input type="checkbox" value="eggs" id="eggs" name="allergens">
                <label for="eggs">eggs</label>

                <input type="checkbox" value="fish" id="fish" name="allergens">
                <label for="fish">fish</label>

                <input type="checkbox" value="milk" id="milk" name="allergens">
                <label for="milk">
                    milk
                </label>

                <input type="checkbox" value="peanuts" id="peanuts" name="allergens">
                <label for="peanuts">peanuts</label>

                <input type="checkbox" value="shellfish" id="shellfish" name="allergens">
                <label for="shellfish">shellfish</label>

                <input type="checkbox" value="soy" id="soy" name="allergens">
                <label for="soy">soy</label>

                <input type="checkbox" value="tree-nut" id="tree-nut" name="allergens">
                <label for="tree-nut">
                    tree nut
                </label>

                <input type="checkbox" value="wheat" id="wheat" name="allergens">
                <label for="wheat">wheat</label>
            </p>

            <p> <input type='submit' class="button" value='Add New Meal'> </p>
        </div>
    </form>
</div>
{% endblock %}

{% block footer %}
<footer>
    daily menu provided by students like you. thank you!</footer>
{% endblock %}