{% extends "base.html" %}

{% block content %}
<div class="d-flex flex-column align-items-center container-fluid">
<h1>Review {{name}}</h1>
<form id="feedback-form" method ="post" action="{{url_for('reviews', fid = fid)}}">
    <table class ="table">
        <tbody>
        <tr><td><label for="username">Username</label></td>
            <td><span>{{username}}</span></td>
        </tr>
        <!-- Search the food item function here -->
        <tr>
        <td><label for="rating">Rate {{name}}: </label></td>
        <td><span class="starRating">
            <input id="rating5" type="radio" name="rating" value="5">
            <label for="rating5">5</label>
            <input id="rating4" type="radio" name="rating" value="4">
            <label for="rating4">4</label>
            <input id="rating3" type="radio" name="rating" value="3">
            <label for="rating3">3</label>
            <input id="rating2" type="radio" name="rating" value="2">
            <label for="rating2">2</label>
            <input id="rating1" type="radio" name="rating" value="1">
            <label for="rating1">1</label>
            
          </span></td>
        <!-- <td><input type="range" min="1" max="5" value="3" name="rating" id="rating"></td> -->
        <!-- Modified from W3 schools tutorial -->
    </tbody>     
    </tr>
        </table>
             <textarea name="comment" rows=5 cols=50 placeholder="Write your review here..."></textarea>
         <p><input type="submit" value="post" class = "button"></p>
    </form>
</div>
{% endblock %}

{% block footer %}
Want to see changes? Tell us what your think!
{% endblock %}