{% extends "base.html" %}

{% block content %}
<!--The form from Sara and Gigi's work-->
<div class="d-flex flex-md-column align-items-center">
<h1>Review {{name}}</h1>
<form id="feedback-form" method ="post" action="url_for('reviews')">
    <table>
        <tr><td><label for="username">Username</label></td>
            <td><input id="username" name="user" required></td>
        </tr>
        <!-- Search the food item function here -->
        <tr>
        <td><label for="rating">Rate {{name}}: </label></td>
        <td><input type="range" min="1" max="5" value="3" name="rating" id="rating"></td>
        <!-- Modified from W3 schools tutorial -->
         </tr>
        </table>
             <textarea name="comment" rows=5 cols=50 placeholder="Write your review here..."></textarea>
         <p><input type="submit" value="post" class = "button"></p>
    </form>
</div>
{% endblock %}

{% block footer %}
Want to see changes? Tell us what your think!
{% endblock %}