{% extends "base.html" %}

{% block content %}
<!-- name = name of food 
    labels = list of labels food contains
    description = list of ingredients/etc
    rating = rating
    preference 

-->
<h1>{{name}} from {{dh}}</h1> 
<div class="d-flex flex-md-column align-items-center">
<h2>{{rating}} Stars</h2> 
<!-- <img src="{{url_for('static', filename = 'wellesleyfreshhours.jpg')}}" alt="Wellesley Fresh hours"> -->
<p>Description: {{description}}</p>
<p>When {{name}} is usually served: {{type}}</p>
<p>Preference: {{preference}}</p>
<p>Contains:     
    <ul> {%for label in labels %}
    <li class = "label"> {{label}} </li>
    {%endfor%}
</ul>
</p>
<div class = "comment">
<h3>Comments</h3>
<p>{%for comment in comments %}
    <p> {{comment['rating']}} Stars || {{comment['comment']}} </p>
    <p>{{comment['username']}}</p>
    <p>________________________________________________________________________________________   </p>
    {%endfor%}</p>
</div>
<h3><a alt = "Add Comment" href="{{ url_for('reviews',fid=fid)}}">Add Comment</a></h3>
<!-- Connect to page fangwen writes?? -->
<a alt = "Update Food Item" href="{{ url_for('updateFood', fid = fid)}}">Update this Description</a>
<a alt = "Back to Menu" href="{{ url_for('menu')}}">Return to Menu</a>
</div>
{% endblock %}

{% block footer %}
<p>daily menu provided by students like you. thank you!</p>
{% endblock %}