{% extends "base.html" %}

{% block content %}
<!-- name = name of food 
    labels = list of labels food contains
    description = list of ingredients/etc
    rating = rating
    preference 
-->
<style>
    body {
    background-color:#5cb88d32;
}
</style>
<div class = "card">
{% if filename %}
<p><img class ="foodPic rounded mx-auto d-block" src="{{url_for('pic',fid=fid)}}" alt="{{food.name}}"></p>
{% endif %}
<!-- {% if rating == 4 %}
    checked = "checked"
{% endif %} -->

<h1>{{food.name}}</h1> 
<!--  -->
<div class="d-flex flex-column align-items-center">
<a href="{{url_for('reviews', fid = fid)}}">
<div class="Stars" style="--rating: {{rating}};" aria-label="Rating of this product is {{rating}} out of 5."><div></div></div></a>
<form method = "POST" action = "{{url_for('food', fid = fid)}}">
    <input class = "button" type = "submit" name = "update" value = "add to today's menu"> 
</form>
<!-- <img src="{{url_for('static', filename = 'wellesleyfreshhours.jpg')}}" alt="Wellesley Fresh hours"> -->
<p>{{food.name}} is served during {{food.type}} at <strong>{{food.dh}}</strong></p>
<p>Ingredients: {{food.ingredients}}</p>
<p>Preference: {{food.preference}}</p>
<p>Contains the following allergens: {{food.allergen}}</p>
<!-- <p>Description: {{description}}</p>
<p>When {{name}} is usually served: {{type}}</p>
<p>Preference: {{preference}}</p>
<p>Contains:     
    <ul> {%for label in labels %}
    <li class = "label"> {{label}} </li>
    {%endfor%}
</ul>
</p> -->
{% if comments %}
<div class = "comment card">
<h3>reviews from the feed</h3>
<table class="table">
    <tbody>
{%for comment in comments %}
<tr> 
    <td class="Stars" style="--rating: {{rating}};" aria-label="Rating of this product is {{rating}} out of 5."><div></div></td>
    <td>{{comment['comment']}} <a href="{{url_for('feed')}}">@{{comment['username']}}</a></td>
    <!-- <td><a href="{{url_for('feed')}}"> {{comment['comment']}} @ {{comment['username']}}</a></td> -->
</tr>
        
    
{%endfor%}
</tbody>
</table>
</div>
<!-- {%for comment in comments %}
    <p> {{comment['rating']}} Stars || {{comment['comment']}} </p>
    <p>{{comment['username']}}</p>
    <p>________________________________________________________________________________________ </p>
    {%endfor%}
</div> -->
{% endif %}
<h3><a class="addReview" href="{{ url_for('reviews',fid=fid)}}">Review {{food.name}}</a></h3>
<!-- Connect to page fangwen writes?? -->
<a class = "button" href="{{ url_for('updateFood', fid = fid)}}">Edit
<svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
  </svg> </a>
</div>
{% endblock %}
</div>

{% block footer %}
{% endblock %}