{% extends "base.html" %}

{% block content %}
<!-- name = name of food 
    labels = list of labels food contains
    description = list of ingredients/etc
    rating = rating
    preference 

-->
<h1>{{food.name}}</h1> 
<div class="d-flex flex-md-column align-items-center">
<h3>(Last Served at {{food.dh}} on {{food.lastServed}})</h3> 
<!-- fid, name, ingredients, rating -->
<h2>Update Ingredients</h2>
<section id="form">
    <form id="update" method ="POST" action="{{url_for('updateFood', fid = food.fid)}}">
        <label>
        <textarea name="ingredients" rows=5 cols=50>{{food.ingredients}}</textarea></label>
        <p><input name = "submit" type="submit" value="update" class = "button"></p>
    </form>
</section>
</div>
<div class="d-flex flex-lg-column align-items-center">
    <form method="post" action="{{url_for('updateFood', fid = food.fid)}}" enctype="multipart/form-data">
        
            <h2>Upload Image</h2>
            <p><i>note: file size must be smaller than 1MB</i></p>
        <p><input type="file" name="pic" class = "button">
        <input name = "submit" type="submit" value="upload" class = "button"></p>
    </form>
</div>
{% endblock %}

{% block footer %}
{% endblock %}