{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
<div class="d-flex flex-column align-items-center">
<h1>foodie<span style="color:#fd8953">.</span></h1>
<h2 class="text-center">your guide to the best eats at wellesley college</h2>
</div>
<!-- dh = request.args.get('dh-filter', "")
        mealtype = request.args.get("type-filter", "") -->
<div class="row d-flex justify-content-center">
<div class="d-flex flex-column align-items-center homePage">
  <div class="col">
  <form method = "GET" action = "{{url_for('menu')}}">
    What's for
    <select name = "type-filter" class = "form-control">
      <option value = "" selected disabled hidden>Meal</option>
           <option value = "breakfast"> Breakfast </option>
           <option value = "lunch"> Lunch </option>
           <option value = "dinner"> Dinner </option>
           <option value = "all day"> All Day </option>
  </select>
  at
    <select name = "dh-filter" class = "form-control">
        <option value = "" selected disabled hidden>Dining Hall</option>
             <option value = 1> Bates </option>
             <option value = 2> Lulu </option>
             <option value = 3> Pom </option>
             <option value = 4> Stone-D </option>
             <option value = 5> Tower </option>
    </select>
    ?
<input class = "homeButton" type = "submit" name = "filter" value = "view menu"> 
</form>
</div>
</div>

{% if session['username'] %}

<form method="GET" action="{{url_for('user_logout')}}">
    <p class="login_button"><input class='button' type='submit' value='logout {{session["username"]}}'> </p>
</form>
{% else %}
<form method="GET" action="{{url_for('create')}}">
  <!-- changed cas.login to create -->
  <p class="login_button"><input class='button' type='submit' value='login/create account'> </p>
</form>

{% endif %}

<div class="d-flex flex-column align-items-center ">
  <h1>Hours of Operation </h1>
<h2>Bates + Lulu + Tower</h2>
<p> Monday - Friday <br/>
    Continental Breakfast: 7:00 AM - 7:30 AM <br/>
    Breakfast: 7:30 AM - 10:00 AM <br/>
    Lunch: 11:30 AM - 2:00 PM <br/> 
    Dinner: 5:00 PM - 7:30 PM <br/>
    <br/>
    Saturday - Sunday <br/>
    Continental Breakfast: 8:30 AM - 10:30 AM <br/>
    Brunch: 10:30 AM - 2:00 PM <br/>
    Dinner: 5:00 PM - 7:30 PM <br/>
    
</p>

<h2>Lulu Late Night</h2>
<p> Monday - Sunday <br/>
    Late Night: 8:00 PM - 11:00 PM <br/>
</p>

<h2 class="text-center">Stone-D and Pom are closed until further notice</h2>
</div>
</div>
{% endblock %}
