{% extends "base.html" %}

{% block headstuff%}
<link href="//code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet"></link>
<script src="//code.jquery.com/jquery-2.2.0.min.js"></script>
<script src="//code.jquery.com/ui/1.10.2/jquery-ui.js" ></script>
<script>
$(function(){
    // jQuery autocomplete function
    $("#autocomplete").autocomplete({
        // source provides available tags to choose from 
        source: //input a list here
        function(request,response){
            //request: get the appropriate food item to display
            $.getJSON("{{url_for('autocomplete')}}",{
                q:request.term,
            },
            //response: 
            function(data){
                response(data.matching_results);
            });
        },
    })
})
</script>
{% endblock %}

{% block content %}
<div class="d-flex flex-column align-items-center">
<h1>{{location}} {{type}} menu for {{date}}</h1>

{% if location%} 
<!-- if the page is given a location -->
<h2><a class="text-waittime" href="{{url_for('updateWait', did = dh)}}">Wait Time at {{location}}: {{waitTime}} minutes</a></h2>
{% endif %}
</div>
<div class="d-inline-flex flex-column align-items-center">
<form method = "GET" action = "{{url_for('menu')}}">
    <select name = "dh-filter">
        <option value = "">Location</option>
             <option value = 1> Bates </option>
             <option value = 2> Lulu </option>
             <option value = 3> Pom </option>
             <option value = 4> Stone-D </option>
             <option value = 5> Tower </option>
    </select>

    <select name = "type-filter">
        <option value = "">Time of Day</option>
             <option value = "breakfast"> Breakfast </option>
             <option value = "lunch"> Lunch </option>
             <option value = "dinner"> Dinner </option>
             <option value = "all day"> All Day </option>
    </select>
    <!-- IMPLEMENT FILTER BY PREFERENCE IN ALPHA -->
    <br>
        <p>Filter by Dietary Restrictions</p>
        <input type="checkbox" id="vegan" name="preference" value="vegan">
        <label for="vegan"> Vegan</label>
        <input type="checkbox" id="vegetarian" name="preference"value="vegetarian">
        <label for="vegetarian"> Vegetarian </label>
        <input type="checkbox" id="kosher" name="preference" value="kosher">
        <label for="kosher"> Kosher </label>
        <input type="checkbox" id="halal" name="preference" value="halal">
        <label for="halal"> Halal </label>
        <input type="checkbox" id="gs" name="preference" value="gluten sensitive">
        <label for="gs"> Gluten-sensitive </label>
    <br><p><label><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
      </svg>
        <input type="text" name="query" id="autocomplete" size="50" placeholder="Search"></label></p>
        <br><input class = "button" type = "submit" name = "filter" value = "filter"> 
    </form>
</div>
<div class="d-flex p-2 menuList flex-column align-items-center">
    {%for item in menu %}
        <p><a class = "menuItem"href="{{url_for('food', fid = item['fid'])}}"> {{item['dh']}} {{item['name']}}
            ({{item['rating']}} Stars) </a>
            </p>
    {%endfor%}
</div>
    
<div class="d-flex flex-column align-items-center">
    <div class="button">
<h2><a class="text-add" href="{{url_for('addfood')}}">add new food</a></h2>
<a href="{{url_for('addfood')}}">
    <svg xmlns="http://www.w3.org/2000/svg" width="52" height="52" fill="currentColor" class="bi bi-plus-circle-fill text-add" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
      </svg></a></div>

<!-- <img src="{{url_for('static', filename = 'wellesleyfreshhours.jpg')}}" alt="Wellesley Fresh hours"> -->
 
</div>
{% endblock %}

{% block footer %}
daily menu provided by students like you. thank you!
{% endblock %}