{% extends "base.html" %}

{% block head_stuff %}   
 <title>Profile</title>
{% endblock %}

{% block content %}

<h1>your profile</h1>
<body>

<p><img class ="foodPic rounded mx-auto d-block" src="{{url_for('propic',username=username)}}" alt="{{name}}"></p>


<div class="profile">
<h2>{{info['name']}}</h2>
<p>username: {{username}}</p>
<p>class: {{info['classYear']}}</p>
<p>favorite Dining Hall: {{info['favoriteDH']}}</p>
<p>favorite Food: {{info['favoriteFood']}}</p>
<p>allergies: {{info['allergies']}}</p>
<p>preferences: {{info['preferences']}} </p>

<form id="update_profile" method="GET" action="{{url_for('update', username=username)}}"> 
    <p> <input class='button' type='submit' value='update profile'> </p>
</form>
</div>

<form>
<div class="propic>
    <form method="post" action="{{url_for('profile', username = username)}}" enctype="multipart/form-data">

    <p>upload new profile picture</p>
    <p><input type="file" name="pic" class="button">
    <input name="submit" type="submit" value="upload" class="button">
    </p>
</div>
</form>
</body>





{% endblock %}


