{% extends "base.html" %}

{% block head_stuff %}   
 <title>Profile</title>
{% endblock %}

{% block content %}

<h1>Your Profile</h1>
<body>
    <!-- will include option to upload image -->
<h2>{{info.name}}</h2>
<p>Username: {{info.username}}</p>
<p>Class: {{info.classYear}}</p>
<p>Favorite Dining Hall: {{info.favoriteDH}}</p>
<p>Favorite Food: {{info.favoriteFood}}</p>
<p>Restrictions:</p>
</body>
<form id="update_profile" method=post action="{{url_for('update', username=username)}}"> <!--FIX THIS URL-->
    <p> <input class='button' type='submit' value='Update Profile'> </p>
</form>


{% endblock %}