{% extends "base.html" %}

{% block head_stuff %}   
 <title>Profile</title>
{% endblock %}





{% block content %}
<body>
<h1>{{info['name']}}</h1>


<p><img class ="foodPic rounded mx-auto d-block" src="{{url_for('propic',username=username)}}" alt="{{name}}"></p>


<div class="profile">
<p>username: {{username}}</p>
<p>class: {{info['classYear']}}</p>
<p>favorite dining Hall: {{dh_name}}</p>
<p>favorite food: {{info['favoriteFood']}}</p>
<p>allergies: {{info['allergies']}}</p>
<p>preferences: {{info['preferences']}} </p>

<form id="update_profile" method="GET" action="{{url_for('update', username=username)}}"> 
    <p> <input class='button' type='submit' value='update profile'> </p>
</form>
</div>

<div class="propic">
    <form method="post" action="{{url_for('profile', username = username)}}" enctype="multipart/form-data">

    <h2>upload new profile picture</h2>
    <p><input type="file" name="pic" class="button">
    <input name="submit" type="submit" value="upload" class="button">
    </p></form>
</div>

</body>
{% endblock %}


