{% extends "base.html" %}

{% block head_stuff %}   
    <title>Update Profile</title>
{% endblock %}

{% block content %}

<h1>Update Your Profile!</h1>
<h2>Change Details</h2>

<!-- beta version: condense code by using for loop -->
<form method="POST" action="{{url_for('update', username = username)}}" autocomplete="on">
    <table>
      <tr>
        <td><label for="username">Username</label></td>
        <td><input name='username' value="{{username}}"></td>
      </tr>
      <tr>
        <td><label for="name">Name</label></td>
        <td><input name='name' value="{{info['name']}}"></td> 
      </tr>
      
      <tr>
        <td><label for="year">Class Year</label></td>
        <td><select id="year" name ="year" required> 
            <!-- Numbers correspond to id for dining halls in our database -->
            <option value= ""> select</option>
            <option value= "2021"> 2021</option>
            <option value= "2022"> 2022</option>
            <option value= "2023"> 2023</option>
            <option value= "2024"> 2024</option>
            <option value= "Davis Scholar"> Davis Scholar</option>
        </select></td>
    </tr>
      <tr>
        <td><label for="diningHall">Favorite Dining Hall</label></td>
        <td><select id="diningHall" name ="diningHall" required> 
            <!-- Numbers correspond to id for dining halls in our database -->
            <option value= ""> select</option>
            <option value= 1> Bates</option>
            <option value= 2> Lulu</option>
            <option value= 3> Pom</option>
            <option value= 4> Stone-D</option>
            <option value= 5> Tower</option>
        </select></td>
    </tr>
    <tr>
        <td><label for="favoriteFood">Favorite Food</label></td>
        <td><input name='favoriteFood' value="{{info['favoriteFood']}}"></td> 
    </tr>
    <tr>
        <td><label for="food-allergens">Food Allergens</label></td>
        <td>
            <input type="checkbox" value=None name="allergens">
            <label for="allergens">none </label>
        </td>
        <td>
            <input type="checkbox" value="eggs" name="allergens">
            <label for="eggs">eggs </label>
        </td>
        <td>
            <input type="checkbox" value="fish" name="allergens">
            <label for="fish">fish </label>
        </td>
        <td>
            <input type="checkbox" value="milk" name="allergens">
            <label for="milk">milk </label>
        </td>
        <td>
            <input type="checkbox" value="peanuts" name="allergens">
            <label for="peanuts">peanuts  </label>
        </td>
        <td>
            <input type="checkbox" value="shellfish" name="allergens">
            <label for="shellfish">shellfish  </label>
        </td>
        <td>
            <input type="checkbox" value="soy" name="allergens">
            <label for="soy">soy </label>
        </td>
        <td>
            <input type="checkbox" value="tree nut" name="allergens">
            <label for="tree nut">tree nut </label>
        </td>
        <td>
            <input type="checkbox" value="wheat" name="allergens">
            <label for="wheat">wheat </label>
        </td>
    </tr>
    <tr>
        <td><label for="food-preferences">Food Preferences</label></td>
        <td>
            <input type="checkbox" value="none" name="preferences">
            <label for="none">none </label>
        </td>
        <td>
            <input type="checkbox" value="gluten sensitive" name="preferences">
            <label for="gluten-sensitive">gluten sensitive </label>
        </td>
        <td>
            <input type="checkbox" value="vegan" id="flexCheckDefault" name="preferences">
            <label for="vegan">vegan </label>
        </td>
        <td>
            <input type="checkbox" value="vegetarian" name="preferences">
            <label for="vegetarian">vegetarian </label>
        </td>
        <td>
            <input type="checkbox" value="kosher" name="preferences">
            <label for="kosher">kosher </label>
        </td>
        <td>
            <input type="checkbox" value="halal" name="preferences">
            <label class for="halal">halal </label>
        </td>
    </tr>
    
    </table>
    <input class= "button" type="submit" name="submit" value="update">

  </form>

{% endblock %}
